spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"   # включаем prometheus
  metrics:
    tags:
      application: "app-service"            # тег для идентификации приложения
